.DS_Store
hdf5/hdf5-1.12.0/*
local/hdf5/*
local/netcdf-c/*
local/netcdf-c/lib/*
local/netcdf-c/share/hdf5_examples/*
reepicheep/test2/output_3.nc
reepicheep/test2/summary_3.nc
.vscode/tasks.json
reepicheep/test2/output_3.csv
reepicheep/test2/*
reepicheep/test3/*
bin/*
build/*
/local/netcdf-cxx4/bin/ncxx4-config
/local/netcdf-cxx4/include/ncAtt.h
/local/netcdf-cxx4/include/ncByte.h
/local/netcdf-cxx4/include/ncChar.h
/local/netcdf-cxx4/include/ncCheck.h
/local/netcdf-cxx4/include/ncCompoundType.h
/local/netcdf-cxx4/include/ncDim.h
/local/netcdf-cxx4/include/ncDouble.h
/local/netcdf-cxx4/include/ncEnumType.h
/local/netcdf-cxx4/include/ncException.h
/local/netcdf-cxx4/include/ncFile.h
/local/netcdf-cxx4/include/ncFloat.h
/local/netcdf-cxx4/include/ncGroup.h
/local/netcdf-cxx4/include/ncGroupAtt.h
/local/netcdf-cxx4/include/ncInt.h
/local/netcdf-cxx4/include/ncInt64.h
/local/netcdf-cxx4/include/ncOpaqueType.h
/local/netcdf-cxx4/include/ncShort.h
/local/netcdf-cxx4/include/ncString.h
/local/netcdf-cxx4/include/ncType.h
/local/netcdf-cxx4/include/ncUbyte.h
/local/netcdf-cxx4/include/ncUint.h
/local/netcdf-cxx4/include/ncUint64.h
/local/netcdf-cxx4/include/ncUshort.h
/local/netcdf-cxx4/include/ncVar.h
/local/netcdf-cxx4/include/ncVarAtt.h
/local/netcdf-cxx4/include/ncVlenType.h
/local/netcdf-cxx4/include/netcdf
/local/netcdf-cxx4/lib/pkgconfig/netcdf-cxx4.pc
/local/netcdf-cxx4/lib/libh5bzip2.la
/local/netcdf-cxx4/lib/libh5bzip2.so
/local/netcdf-cxx4/lib/libnetcdf_c++4.1.dylib
/local/netcdf-cxx4/lib/libnetcdf_c++4.a
/local/netcdf-cxx4/lib/libnetcdf_c++4.dylib
/local/netcdf-cxx4/lib/libnetcdf_c++4.la
/run9/map2013d2014/*
/test_run_listings_troy.csv
/.idea.old/inspectionProfiles/profiles_settings.xml
/.idea.old/.gitignore
/.idea.old/editor.xml
/.idea.old/misc.xml
/.idea.old/vcs.xml
rapidjson
/.idea/workspace.xml
Catch2
/run32/map2000d2014
/troy_run_listings.csv

/.idea/editor.xml
/.junie/*
/data/whidbey/hydro/WhidbeyBasin_Compiled_Full.nc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Whidbey-IBM.iml
/netcdf-c/
/netcdf-cxx4/
/data/whidbey/output/
